#cloud-config
preserve_hostname: false
hostname: ${hostname}
timezone: Asia/Aqtobe

ssh_pwauth: false
users:
  - name: ubuntu
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: "$6$roH729aDFFzYnLKF$bFbkDEI6vGU0TSEYCUP.slYXD6297mn6D/l1AcsJwJPUzvfrDJcsE9LB.8R4XaP62IRz0ip95ns.GcA/GDY6p0"

ssh-pwauth: true

package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl start --now qemu-guest-agent
