#cloud-config
preserve_hostname: false
hostname: ${hostname}
timezone: Asia/Aqtobe

ssh_pwauth: false
users:
  - name: ubuntu
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - ssh-rsa AAAAB3Nz...Your_SSH-key

package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl start --now qemu-guest-agent
